*{
    font-size:18px;
    color:#303;
    font-family:sans-serif ;
    font-weight: normal;

}

body{
    background-color: #ffc;
}

main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#embededContent{
  display: flex;
  flex-direction: column;
  width:720px;
  height: 405px;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  background-color: #747;
}

h1{
  font-size: 70px;
  font-family: "Barlow Condensed", sans-serif;
  color:#747
}

h2{
  font-size: 22px;
  font-weight: 100;
  width: 200px;
  text-align:left;
}

h3{
  text-decoration: underline;
}

h4{
  text-decoration: underline;
  font-size: 16px;
}

h5{
  font-size: 16px;
  border: #ec4, solid, 1px;
  width: fit-content;
  padding: 0.2rem;
}

span{
  color: #ec4;
  font-size: 14px;
}

a{
  text-decoration: none;
  font-style: normal;
}

img {
  width: 200px;
  border:#ee7, solid, 1px;
  border-radius: 3px;
}

button{
  color:#101;
  background-color: #979;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 32px;
  border:none;
}

input{
  padding: 0.3rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: solid, 1.5px, #979;
  background-color:#dcd;
  font-size: 16px;
  color:#101
}

input::placeholder{
  color:#545;
}

#navContent{
  flex-direction: column;
}

#searcher{
  align-items: center;
}

.filters{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  border: #ec4, solid, 1.5px;
  border-right: #ffc;
  border-left: #ffc;
  border-top: #ffc;
  background-color: #ffc;
}

header p{
  font-size: 12px;
  color: #ec4;
}


footer{
padding: 1rem;
  border: #ec4, solid, 1.5px;
  border-right: #101;
  border-left: #101;
  border-bottom: #101;
}

footer p{
  font-size: 12px;
}

#mov {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: center;
}

.movie{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center ;
  background-color: #eea;
  width: 260px;
  height: 490px;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.movie h2{
  font-family:"Barlow Condensed", sans-serif ;
  font-weight: 500;
}

.movfilterinfo{
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  width: 190px;
}

.movfilterinfo p{
  font-size: 15px;
}



